<h2>Finds Users to follow</h2>
<% @users.each do |user| %>
    <div class = "user_box">
        <div class= "profile_pic">
            <%= image_tag(user.profile_pic) %>
        </div>
        <div class="username">
            <%= user.username%>
        </div>
        <%= link_to "Follow" , follows_create_path(:user_id => user.id), method: :post%><br><br>
    </div>
<%end%>


<% @following.each do |user| %>
    <div class = "user_box">
        <div class= "profile_pic">
            <%= image_tag(user.profile_pic) %>
        </div>
        <div class="username">
            <%= user.username%>
        </div>
        <%= link_to "Unfollow" , follows_destroy_path(:user_id => user.id), method: :delete%><br><br>
    </div>
<%end%>