<p>This User Your feed , <%=@user.username%>.</p>
<%= link_to "Log Out", logout_path , method: :delete%>

<div id= "images">
    <% @posts.each do |post| %>
        <div class="post_feed_item">
            <div class="post_feed_header">
                <%= image_tag(post.user.profile_pic, class: "profile_pic") %>
                <div class="username">
                    <%= post.user.username%>
                </div>
            </div>
            <div class="post_feed_image"><%= image_tag(post.image,  class: "post_feed_image")%></div>

            <%if current_user.likes.where(post_id: post.id).exists?%>
                <%= image_tag("liked_heart.png" , class: "heart")  %>
            <%else%>
                <%= link_to image_tag("like_heart.png", class: "heart"), likes_create_path(post_id: post), method: :post %>
            <%end%><br>



            <%= post.title %><br>

            <% post.comments.each do |comment|%>
                <%=comment.user.username%>:
                <%=comment.text%>
            <%end%><br>

            <%= form_for @comment , url: comments_create_path do |f|%>
                <%= f.label :text %>
                <%= f.text_area :text %>
                <%= hidden_field_tag "comment[post_id]", "#{post.id}" %>
                <%= f.submit %>
            <%end%>
        </div>
    <%end%>
</div>


