<p>This User Your feed , <%=@user.username%>.</p>
<%= link_to "Log Out", logout_path , method: :delete%>

<div id= "images">
    <% @posts.each do |post| %>
        <div class="post_feed_item">
            <%= image_tag(post.user.profile_pic, class: "profile_pic") %>
            <%= post.user.username %>
            <div class="post_feed_image"><%= image_tag(post.image,  class: "post_feed_image")%></div>
            <%= post.title %><br>
        </div>
    <%end%>
</div>