<!DOCTYPE html>
<html>
  <head>
    <title>RailsInsta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if logged_in? %>
      <div id= "navbar">
        <ul>
          <li><%= link_to image_tag(current_user.profile_pic) , posts_my_post_path , class: "profile_pic"%></li>
          <li><%= link_to image_tag("house.png"), posts_post_feed_path%></li>
          <li><%= link_to image_tag("search.png") , users_find_path%></li>
          <li><%= link_to image_tag("add.png") , posts_new_path%></li>
        </ul>
      </div>
    <%end%>
    <%= yield %>
  </body>
</html>
